body{
  background-color: #F1F1F1;
  top: 0;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.5rem; /* 40px */
  padding: 0.75rem 1.5rem; /* Adds more height */
}

header img {
  height: 50px;
  width: auto;
}

.header-title {
  margin: 0;
  color: #333;
  font-size: 1.1rem; /* Try a smaller size if needed */
  font-weight: normal;
  white-space: normal; /* Allow wrapping */
}

.logo {
  height: 6em;
  padding: 1.5em;
}

.header-title{
    color: #333;
    font-weight: normal;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-right {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

.title{
  color: black;
}

.dashboard-container {
  display: flex;
  margin-top: 2.5rem;
  height: 88vh;
  width: 100vw;
  color: black;
  position: fixed;
}

.sidebar {
  height: 88vh;
  width: 200px;
  background-color: #1E56A0;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sidebar-menu-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-item {
  width: 100%;
}

.sidebar-item a {
  margin-top: 2.5rem;
  display: block;
  width: 83%;
  padding: 0.75rem 1rem;
  color: white;
  text-decoration: none;
  text-align: center;
}

.sidebar-item a:hover {
  background-color: #163D75;
}

.sidebar-item.active a {
  background-color: #163D75;
}

.sidebar-menu-logout{
  margin-top: auto;
  padding-bottom: 2rem;
}

.dashboard-content{
  padding-left: 1rem;
  width: 100%;
}

.dashboard-card{
  background-color: white;
  border-radius: 8px;
  padding: 1.5rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-cards{
  display: flex;
  gap: 7rem;
  flex-direction: row;
  padding: 1rem;
  height: 195px;
  width: 100%;
}

.title-container {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Space between image and text */
}

.submitted-reports-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.submitted-reports{
  padding: 1rem 1.5rem 1rem 1.5rem;
  background-color: white;
  border-radius: 1.5rem;
}

.calendar-container {
  padding: 1rem;
  background-color: white;
  border-radius: 1.5rem;
  width: 100%;
}

.deadline-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 1rem;
  padding: 0 .5rem 0 .5rem;
  background-color: #FF8686;
}

.deadline-details{
  font-size: 13px;
}

.deadline-title{
  font-size: 13px;
  font-weight: bold;
}
